#idea
**/.idea/modules
**/.idea/libraries
**/.idea/httpRequests
**/.idea/workspace.xml
**/.idea/gradle.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
**/.idea/**/contentModel.xml
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/dataSources
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml

#gradle
**/.gradle
**/\?/
build/
**/build/

#mac
**/.DS_Store
